.profile{
    width: 360px;
    font-size: 20px;
    color: #917FB3;
}

.description{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    background-color: #FDE2F3;
    border-radius: 8px 8px 0 0 ;
    padding: 40px 0;
}

p {
    margin: 0;
}

.name{
    font-weight: 700;
    font-size: 28px;
    color: #2A2F4F;
}

.avatar{
    width: 160px;
    margin-bottom: 20px;
}

.stats{
    background-color: #E5BEEC;
    border-radius:  0 0 8px 8px;
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
}

.stats_item{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: calc(100% / 3);
    align-items: center;
    padding: 20px 0;
    box-sizing: border-box;
    border: 0.5px solid #917FB3;
}

.stats_item:first-child{
    border-radius: 0 0 0 5px;
}
.stats_item:last-child {
     border-radius: 0 0 5px 0;
 }

.quantity{
    color: #2A2F4F;
    font-weight: 700;
}