.friend_list{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 360px;
    margin: 0;
    font-size: 24px;
    font-weight: 500;
}

.item{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 16px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;;
}

.status{
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50px;
}

.true{
    background-color: green;
}

.false{
    background-color: red;
}